// Fonts
$bodyFont: 'Rubik', sans-serif;

// Colors - primary
$modBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

// Colors - neutral
$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

// Fonts
$bodyFontSize: 1.6rem;
$fontNormal: 400;
$fontMedium: 500;
$fontBold: 700;

// Screen
$mobile: 375px;
$desktop: 1440px;
