@use '../abstracts/abstractsIndex' as *;

body {
  background: $veryLightGray;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
}

mark {
  color: inherit;
  background: inherit;
}

main {
  padding: 100px 0;
}

.comments {
  background: #fff;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  padding: 50px 20px 50px 50px;
  position: relative;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;

  &__btn {
  }

  &__counter {
  }
}

.user {
  &__profile_container {
  }
  &__picture {
  }
  &__name {
  }
  &__date-posted {
  }
}

.update_comment {
  &__delete_update_container {
  }
  &__reply {
  }
  &__button {
  }
  &__button--reply {
  }
  &__button--delete {
  }
  &__button--edit {
  }
}

.add-comment {
  &__user {
  }
  &__picture {
  }
  &__form {
  }
  &__text-area {
  }
  &__submit-btn {
  }
}

.hidden {
  display: none;
}
